.home-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer-bg);
  color: var(--main-text-light);
  padding: 1rem 0.5rem;
}

.home-footer-sitemap {
    /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
}
.home-footer-sitemap a {
  margin: 0.5rem;
  color: var(--main-text-light);
}

.home-footer-designed {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #314b3d, #2b4135);
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.home-footer-address {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  padding: 1rem;
}
.home-footer-address  p{
    margin: 0.25rem;
  }

  @media screen and (min-width: 600px) {
    .home-footer-sitemap{
      /* display: flex; */
      flex-direction: row;
      align-items: center;
    }  
    
  }

  @media screen and (min-width: 900px) {
    .home-footer {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .home-footer-sitemap{
      /* display: flex; */
      flex-direction: column;
      align-items: normal;
      /* width:30% */
    }  
    .home-footer-address {
      /* width:30%; */
      /* float:right; */
    }
    
  }