.back-to-top {
    position: fixed;
    z-index: 99;
    bottom: 5rem;
    right: 1rem;    
    background:none;
    color: var(--main-text-dark);
    cursor: pointer;    
    border: none;    
  }
  .back-to-top:hover {
    color: var(--link-hover)
  }