.slidertours {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}
/* card of each trip */
.slidertours-card {
  /* border: 1px solid red; */
  position: relative;
  width: 90vw;
  max-width: 30rem;
  padding: 1rem 1rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: var(--main-text-dark);
}
/* hide the non active cards */
.slidertours-fade {
  display: none;
}
/* images of card as backgraound image */
.slidertours-pic {
  /* border: 1px solid blue; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.25rem;
  /* width: 25rem; */
  height: 20rem;
  /* aspect-ratio: 1/1; */
  /* object-fit: cover; */
}

/* The dots indicator */
.slidertours-dots {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.slidertours-dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 1rem 0.5rem;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.slidertours-active,
.slidertours-dot:hover {
  background-color: var(--link-hover);
}

/* Fading animation */
.slidertours-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
