.home-tours {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: 1rem 0.5rem; */
}


.home-tours-text, .home-tours-new {
    /* border: 1px solid red; */
    text-align: center;
    padding: 1rem .5rem ;
}
.home-tours-new p {
    margin: 1rem 0rem;
    text-align: justify;
    
}