.home-tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
}
.home-tours-trips img{
    max-width: 85vw;
}

.home-tours-comments {
  /* border: 1px solid red; */
  padding: 1rem;
  /* text-align: justify; */
  /* max-width: 60vw; */
}

.home-tours-comments-card {
  position: relative;
  margin-top: 1rem;
  /* border: 1px solid red; */
  padding: 1rem 1.5rem;
  text-align: justify;
  max-width: 30rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--banner-green),
    var(--banner-yellow)
  );
  color: var(--main-text-dark);
}

.tours-fade {
  display: none;
}

/* Next & previous buttons */
.tours-prev,
.tours-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: .5rem;
  margin-top: -1rem;
  background: rgba(0, 0, 0, 0.25);
  color: var(--main-text-dark);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border: none;
}

.tours-prev {
  border-radius: 0 0.5rem 0.5rem 0;
  left: 0;
}
.tours-next {
  border-radius: 0.5rem 0 0 0.5rem;
  /* Position the "next" button to the right */
  right: 0;
}

/* On hover, add a semi-transparent black background */
.tours-prev:hover,
.tours-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* The dots indicator */
.home-tours-comments-dots {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.tours-dots {
}

.tours-dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 1rem 0.5rem;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.tours-active,
.tours-dot:hover {
  background-color: var(--link-hover);
}

/* Fading animation */
.tours-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
